[submodule "slam_ros2_ws/src/ucsd_robocar_hub2"]
	path = slam_ros2_ws/src/ucsd_robocar_hub2
	url = https://github.com/UCSD-ECEMAE-148/ucsd_robocar_hub2.git
[submodule "slam_ros2_ws/src/ldlidar"]
	path = slam_ros2_ws/src/ldlidar
	url = https://github.com/linorobot/ldlidar.git
[submodule "slam_ros2_ws/src/multi_cam"]
	path = slam_ros2_ws/src/multi_cam
	url = https://github.com/Triton-AI/multi_cam_oak_lite.git
[submodule "slam_ros2_ws/src/razor_imu_9dof"]
	path = slam_ros2_ws/src/razor_imu_9dof
	url = https://github.com/sisaha9/razor_imu_9dof.git
[submodule "slam_ros2_ws/src/vesc"]
	path = slam_ros2_ws/src/vesc
	url = https://github.com/f1tenth/vesc.git
	branch = ros2
[submodule "slam_ros2_ws/src/ackermann_mux"]
	path = slam_ros2_ws/src/ackermann_mux
	url = https://github.com/f1tenth/ackermann_mux.git
	branch = foxy-devel
